@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$blue-palette,
        tertiary: mat.$cyan-palette,
        theme-type: light,
      ),
      typography: (
        plain-family: system-ui,
        brand-family: system-ui,
      ),
      density: 0,
    )
  );

  color-scheme: light;
  font-family: var(--mat-sys-body-medium-font);
  background: var(--mat-sys-surface-container-lowest);
}

* {
  box-sizing: border-box;
}

body {
  min-width: 20rem;
  min-height: 100vh;
  margin: 0;
}

button,
input,
select,
textarea {
  font: inherit;
}
