<header>
  <div class="app-status">
    <div class="status-summary">
      <div class="running-status-container">
        <p>App status: <b id="running-status">{{status}}</b></p>
      </div>
      <div class="experiment-name-container">
        <p>Experiment name: <b id="experiment-name">{{experimentName}}</b></p>
      </div>
      <div class="events-processed">
        <p>Processed events: <b id="event-count">{{eventCount}}</b></p>
      </div>
    </div>
    <div class="progress-chart-outer">
      <!-- Activity gauge for Instance/Algorithm/Iteration -->
      <div id="progress-chart"></div>
    </div>
  </div>
</header>
<main id="main-content">
  <div class="chart-grid chart-headings">
    <div>
      <h2>Best solution</h2>
    </div>
    <div>
      <h2>Score convergence</h2>
    </div>
    <div>
      <h2>Scores</h2>
    </div>
  </div>
  <div class="chart-grid" *ngFor="let c of chartConfigs">
    <div class="chart-cell">
      <app-solution-chart [config]="c.best">
      </app-solution-chart>
    </div>
    <div class="chart-cell">
      <app-convergence-chart [config]="c.convergence">
      </app-convergence-chart>
    </div>
    <div class="chart-cell">
      <app-scores-chart [config]="c.scores">
      </app-scores-chart>
    </div>
  </div>
</main>
